:root {
  --dark-gray-color: rgba(233, 233, 233, 0.451);
  --white-color: #fff;
  --gray-color: rgb(248, 248, 248);
  --dark-red: rgba(204, 88, 107, 0.144);
  --red: rgb(204, 88, 107);
  --black: rgb(59, 58, 58);
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand',
    sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 80%;
  height: 80%;
  padding: 30px 20px;
  border-radius: 7px;
  background-color: var(--white-color);
}

.main .title {
  width: 100%;
  height: 35px;
}

.main .content-wrapper {
  margin-top: 3px;
  width: 100%;
  height: calc(100% - 35px);
}

.content-wrapper .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards .card {
  width: 33%;
  min-height: 80px;
  padding: 3px;
  margin-top: 10px;
  border-radius: 5px;
  border: 0.1px solid var(--dark-red);
  background-color: var(--gray-color);
}

.heading {
  font-size: 32px;
  font-family: 'Electrolize',
    sans-serif;
  color: var(--red);
}


.card .user {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-between;

}

.user .user-info {
  height: 100%;
  width: 73%;
  padding: 10px;
  color: var(--black);
}

.user .blog-post {
  width: 100%;
  height: auto;
  padding: 10px;
}

.user .action {
  height: 100%;
  width: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 55%;
  width: 90%;
  color: var(--white-color);
  outline: none;
  border: none;
  background-color: var(--red);
  font-size: 18px;
  font-weight: 600px;
  border-radius: 20px;
  transition: all 0.1s linear;
  font-family: 'Quicksand',
    sans-serif;
}

.btn:hover {
  transform: scale(1.05);
}

.font-weight-bold {
  font-weight: bold;
}

.blog-title {
  font-size: 18px;
}

.blog-content {
  margin-top: 2px;
}

/* loader */

#loader,
.loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--gray-color);
  z-index: 300;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 200px;
  height: 15px;
  background-color: var(--dark-red);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 2px;
  position: relative;
}

.progress-bar .inner-loader {
  width: 50px;
  height: 11px;
  border-radius: 10px;
  animation-name: loader;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  position: absolute;
}

@keyframes loader {
  0% {
    left: 0px;
    background-color: var(--dark-red);
  }

  100% {
    left: 150px;
    background-color: var(--red);
  }
}

@media screen and (max-width:1110px) {
  .main {
    width: 96%;
  }

}

@media screen and (max-width:1011px) {
  .main {
    width: 100%;
  }

}

@media screen and (max-width:978px) {
  .cards .card {
    width: 49%;
  }

}

@media screen and (max-width:694px) {
  .cards {
    justify-content: center !important;
  }

  .cards .card {
    width: 90%;
  }

}

.back-btn {
  height: 40px;
  width: 90px;
  color: var(--white-color);
  outline: none;
  border: none;
  background-color: var(--red);
  font-size: 18px;
  font-weight: 600px;
  border-radius: 20px;
  transition: all 0.1s linear;
  font-family: 'Quicksand',
    sans-serif;
  margin-top: 10px;
  display: none;
}